<div class="row">
  <div class="col-xs-10">
    <div class="form-group string required event_item_title"><label class="control-label string required" for="event_item_title"><abbr title="required">*</abbr> Item/presente</label><input class="form-control string required" type="text" name="event[item][title]" id="event_item_title"></div>
  </div>
  <div class="col-xs-2">
    <div class="form-group integer required event_item_quantity"><label class="control-label integer required" for="event_item_quantity"><abbr title="required">*</abbr> Quantidade</label><input class="form-control numeric integer required" min="0" type="number" step="1" name="event[item][quantity]" id="event_item_quantity"></div>
  </div>
</div>
<div class="form-group text required event_item_description"><label class="control-label text required" for="event_item_description"><abbr title="required">*</abbr> Descrição do item (especificações de tamanho, cor...)</label><textarea class="form-control text required" rows="5" name="event[item][description]" id="event_item_description"></textarea></div>
