<%= simple_fields_for :items do |ff| %>
  <div class="row">
    <div class="col-xs-10">
      <%= ff.input :title, label: 'Item' %>
    </div>
    <div class="col-xs-2">
      <%= ff.input :quantity, label: 'Quantidade', as: :integer, input_html: { min: 0, value: 0 } %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= ff.input :description, label: 'Descrição', as: :text, input_html: { rows: 5 } %>
    </div>
  </div>
<% end %>
