@import 'bootstrap-sprockets';
@import 'bootstrap/variables';
@import 'bootstrap';
@import 'buttons';

$banner-bg: #FFB376;
$bg: #F9FFC5;
$banner-border: #806523;

.site-logo {
  height: 100px;
}

.banner {
  background-color: $banner-bg;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 6px dashed $banner-border;
}

.vcenter {
  left: 50%;
  top: 50%;
  margin-top: calc(100% - height);
}

body {
  background-color: $bg;
}

h1 {
  font-family: 'KBDunkTank';
  font-size: 5em;
}
