$banner-bg: #FFB376;
$bg: #F9FFC5;
$banner-border: #806523;
$light-green: #00C89D;
$dark-red: #B71319;

@import 'bootstrap-sprockets';
@import 'bootstrap/variables';
@import 'bootstrap';
@import 'buttons';
@import 'pages';

html, body {
  height: 100%;
  background-color: $bg;
}

.site-logo {
  max-height: 140px;
}

.banner {
  background-color: $banner-bg;
  width: 100%;
  height: 150px;
  line-height: 150px;
  border-bottom: 6px dashed $banner-border;
}

.page-body {
  margin-top: 30px;
  height: calc(100% - 200px);
}

h1 {
  font-family: 'KBDunkTank';
  font-size: 5em;
  color: $banner-border;
}

.alert-alert,
.alert-error {
  background-color: $dark-red;
  color: $white;
}

.alert-notice,
.alert-success {
  background-color: $light-green;
  color: $white;
}

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

[class*="col-"] {
    float: left;
    display: inline-block;
}
