$white: #FFFFFF;
$white-transparency-2: rgba(0, 0, 0, 0.2%);
$facebook-blue: #3B5998;
$facebook-dark-blue: #2D4373;
$red-danger: #E21F00;

.alert {
  text-align: center;
}

.close-flash-message {
  float: right;
  position: relative;
  right: 20px;
  color: $white;
}

.btn-huge {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}
