$white: #FFFFFF;
$white-transparency-2: rgba(0, 0, 0, 0.2%);
$facebook-blue: #3B5998;
$facebook-dark-blue: #2D4373;
$red-danger: #E21F00;

.alert {
  text-align: center;
}

.close-flash-message {
  float: right;
  position: relative;
  right: 20px;
  color: $white;
}

.btn-facebook-mobile {
  color: $white;
  background-color: $facebook-blue;
  border-color: $white-transparency-2;
  height: 145px;
  width: 100%;
}

.btn-facebook {
  color: $white;
  background-color: $facebook-blue;
  border-color: $white-transparency-2;
  height: 75px;
  width: 75px;
  margin-top: 42px;;
}

.btn-signout-mobile {
  height: 145px;
  width: 100%;
  background-color: $red-danger;
}

.btn-signout {
  height: 75px;
  width: 75px;
  margin-top: 25px;
  background-color: $red-danger;
}

.sign-out-icon {
  height: 60px;
  width: 60px;
  margin-left: -25px;
  margin-top: -20px;
}

.facebook-icon-mobile {
  height: 40px;
  margin-left: -15px;
  margin-top: -20px;
}
