$white: #FFFFFF;
$white-transparency-2: rgba(0, 0, 0, 0.2%);
$facebook-blue: #3B5998;
$facebook-dark-blue: #2D4373;
$red-danger: #E21F00;

.alert {
  text-align: center;
}

.close-flash-message {
  float: right;
  position: relative;
  right: 20px;
  color: $white;
}

.btn-facebook-mobile {
  color: $white;
  background-color: $facebook-blue;
  border-color: $white-transparency-2;
  height: 100px;
  width: 100px;
}

.btn-facebook {
  color: $white;
  background-color: $facebook-blue;
  border-color: $white-transparency-2;
  height: 50px;
  width: 50px;
  margin-top: 25px;;
}

.btn-signout-mobile {
  max-height: 100px;
  max-width: 100px;
  height: auto;
  width: auto;
  background-color: $red-danger;
}


.btn-signout {
  max-height: 50px;
  max-width: 50px;
  height: auto;
  width: auto;
  margin-top: 25px;
  background-color: $red-danger;
}

.sign-out-icon {
  height: 40px;
  width: 40px;
  margin-left: -6px;
}
